<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.testapp.app"
        versionCode = "10"
        version     = "2.0.0">

    <name>Android</name>

    <description>
        Тестовое описание
    </description>

    <author>Tadapp</author>

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />
    <plugin name='cordova-plugin-network-information' />

    <preference name='phonegap-version' value='cli-9.0.0' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='default' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#ffffff" />

    <preference name="Fullscreen" value="false" />


    <platform name="android">
        <icon src="res/android/icon/ldpi_1571260319_7045b08fffe23f353898.png" density="ldpi" />
        <icon src="res/android/icon/mdpi_1571260319_7045b08fffe23f353898.png" density="mdpi" />
        <icon src="res/android/icon/hdpi_1571260319_7045b08fffe23f353898.png" density="hdpi" />
        <icon src="res/android/icon/xhdpi_1571260319_7045b08fffe23f353898.png" density="xhdpi" />
        <icon src="res/android/icon/xxhdpi_1571260319_7045b08fffe23f353898.png" density="xxhdpi" />
        <icon src="res/android/icon/xxxhdpi_1571260319_7045b08fffe23f353898.png" density="xxxhdpi" />

        <splash src="res/android/screen/hdpi_port_1571260334_8872dd276fb0e4268912.png" density="port-hdpi"/>
        <splash src="res/android/screen/ldpi_port_1571260334_8872dd276fb0e4268912.png" density="port-ldpi"/>
        <splash src="res/android/screen/mdpi_port_1571260334_8872dd276fb0e4268912.png" density="port-mdpi"/>
        <splash src="res/android/screen/xhdpi_port_1571260334_8872dd276fb0e4268912.png" density="port-xhdpi"/>
        <splash src="res/android/screen/hdpi_land_1571260334_8872dd276fb0e4268912.png" density="land-hdpi"/>
        <splash src="res/android/screen/ldpi_land_1571260334_8872dd276fb0e4268912.png" density="land-ldpi"/>
        <splash src="res/android/screen/mdpi_land_1571260334_8872dd276fb0e4268912.png" density="land-mdpi"/>
        <splash src="res/android/screen/xhdpi_land_1571260334_8872dd276fb0e4268912.png" density="land-xhdpi"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>